@page "/recipes/{RecipeId}"
@using CookNet.Data
@using Microsoft.AspNetCore.Identity
@inject RecipeService RecipeService
@inject CookbookService CookbookService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime

<div class="recipedetails-container">
    @if (Recipe != null)
    {
        <PageTitle>@Recipe.Name</PageTitle>
        <MudGrid Justify="Justify.Center" Spacing="0">
            <MudItem xs="12" sm="6" md="4">
                <div class="d-flex justify-content-center align-items-center w-100 mt-5 shadow-lg">
                    <MudImage Src="@Recipe.ThumbnailImage" Alt="@Recipe.Name" Elevation="25" Width="960" Height="540" />
                </div>
            </MudItem>
        </MudGrid>

        <div class="recipe-details">
            <h4 class="recipe-title">@Recipe.Name</h4>
            <p class="recipe-author">@Recipe.DateCreated.ToString("MMMM dd, yyyy") by <a class="text-decoration-none" href=@($"/users/{AuthorUserName}")>@("@")@AuthorUserName</a></p>

            @if (IsUserAuthor)
            {
                <div class="d-flex justify-content-center align-items-center mt-1">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="() => EditRecipe(Recipe.ID)">Edit Recipe</MudButton>
                </div>
            }

            @* ADD LIKE, SHARE, AND BOOKMARK *@
            <div class="row justify-content-center align-items-center text-center mb-3 mt-2 gap-3">
                <div class="col-auto d-flex flex-column align-items-center" style="margin-top: 7px;">
                    <MudIcon Icon="@((IsRecipeLiked) ? Icons.Material.Filled.Favorite : Icons.Material.Filled.FavoriteBorder)" Title="Favorite"
                             Color="@((IsRecipeLiked) ? Color.Error : Color.Dark)" @onclick="ToggleLike" Style="font-size: 3rem; cursor: pointer; padding-bottom:5px;" />
                    <p class="text-muted mb-0 mt-2">@LikeCount Likes</p>
                </div>
                <div class="col-auto d-flex flex-column align-items-center">
                    <button class="bookmark-recipe pb-1" @onclick="@(async () => await OpenCookbookDialogAsync(Recipe.ID))" title="Save to Cookbook">
                        <i class="cookbooks-icon bi bi-journal-bookmark-fill" style="font-size: 2rem; cursor: pointer;"></i>
                    </button>
                    <p class="text-muted mb-0 mt-2">@CookbookCount Saves</p>
                </div>
            </div>

            <div class="share-btns-inline row justify-content-center align-items-center gap-2">
                <div class="share-x col-auto" @onclick="ShareToTwitter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                    </svg>
                    <label class="share-label">Tweet</label>
                </div>
                <div class="share-facebook col-auto" @onclick="ShareToFacebook">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                    </svg>
                    <label class="share-label">Share</label>
                </div>
                @* <div class="share-instagram col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                    </svg>
                    <label class="share-label">Share</label>
                </div> *@
                <div class="share-email col-auto" @onclick="ShareViaEmail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                    <label class="share-label">Email</label>
                </div>
                <div class="share-link col-auto" @onclick="CopyToClipboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z" />
                    </svg>
                    <label class="share-label">Copy Link</label>
                </div>
            </div>

            <p class="recipe-description mt-2">@Recipe.Description</p>
            <div class="divider-line"></div>

            <div class="recipe-details-body">
                @if (Recipe.RecipeStory != null)
                {
                    <div class="d-flex justify-content-center">
                        <div class="col-md-8">
                            <p class="recipe-story pt-3">@($"{Recipe.RecipeStory}")</p>
                        </div>
                    </div>
                }

                <div class="d-flex justify-content-center" id="full-recipe-card">
                    <div class="card mb-4 col-md-10 col-lg-8">
                        <div class="card-header">
                            <div class="card-top d-flex align-items-center">
                                <div class="col-1"></div>
                                <div class="col text-center recipename-container">
                                    <h5 class="card-title" style="@IsServingNull">@Recipe.Name</h5>
                                </div>
                                <div class="col-auto text-end">
                                    @if (Recipe.Servings != null)
                                    {
                                        <p class="recipe-serving-size"><strong>Serving Size:</strong> @Recipe.Servings</p>
                                    }
                                </div>
                            </div>
                            <div class="card-cook text-center">
                                <p class="recipe-author-card">@Recipe.DateCreated.ToString("MMMM dd, yyyy") by <a class="author-card text-decoration-none" href=@($"/users/{AuthorUserName}")>@("@")@AuthorUserName</a></p>
                            </div>
                            <div class="card-btns d-flex justify-content-center align-items-center">
                                <div class="col-2">
                                    <MudButton Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download">Download</MudButton>
                                </div>
                                <div class="col-2">
                                    <MudButton Color="Color.Tertiary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Print" OnClick="PrintRecipe">Print Card</MudButton>
                                </div>
                            </div>
                            <div class="card-info col-md-12 justify-content-center d-flex flex-wrap text-center mt-5">
                                <p class="recipe-preptime"><strong>Prep Time:</strong> @Recipe.PrepTime mins</p>
                                <p class="recipe-cooktime"><strong>Cook Time:</strong> @Recipe.CookTime mins</p>
                                <p class="recipe-category"><strong>Category:</strong> @Recipe.Category</p>
                                @if (Recipe.Ethnicity != null && Recipe.Ethnicity != "")
                                {
                                    <p class="recipe-ethnicity"><strong>Ethnicity:</strong> @Recipe.Ethnicity</p>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row text-start">
                                <div class="ingredients-col col-md-6">
                                    <h4 class="recipe-ingredients-title">Ingredients:</h4>
                                    <ul class="ingredients-list list-unstyled">
                                        @foreach (var ingredient in @RecipeIngredients)
                                        {
                                            <li class="recipe-ingredients">@($"{ingredient.Quantity} {ingredient.QuantityUnit} {ingredient.Name}")</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="recipe-instructions-title">Instructions:</h4>
                                    <ul class="instructions-list list-unstyled">
                                        @foreach (var instruction in @Instructions)
                                        {
                                            <li class="recipe-instructions">@($"{instruction.StepNumber}. {instruction.InstructionText}")</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="comments-section mb-4 col-md-10 col-lg-8">
                    <h4 class="comments-title">Leave a Comment</h4>
                    <div class="comment-form">
                        <MudTextField @bind-Value="NewCommentTxt" Placeholder="Add a comment..." Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="AddComment" Immediate="true" />
                    </div>
                    <div class="comments-list mt-3">
                        @if (Comments != null && Comments.Any())
                        {
                            @foreach (var comment in Comments.OrderBy(c => c.ParentCommentID))
                            {
                                @if (comment.ParentCommentID is null)
                                {
                                    <div class="comment-item">
                                        <div class="comment-header">
                                            <div>
                                                <a href=@($"/users/{comment.Username}")><strong class="username-comment">@comment.Username</strong></a> <span class="text-muted">@comment.DateCreated.ToString("MMMM dd, yyyy")</span>
                                            </div>
                                            <div class="comment-actions">
                                                <i class="fa fa-reply ms-2" @onclick="() => ToggleReply(comment.CommentID)" title="Reply"></i>
                                                @if (currentUser != null && comment.UserID == currentUser.Id)
                                                {
                                                    <i class="fa fa-pen" @onclick="() => OpenEditCommentDialog(comment.CommentID, comment.Comment)"></i>
                                                    <i class="fa-solid fa-trash-can ms-2" @onclick="() => DeleteComment(comment.CommentID)" title="Delete Comment"></i>
                                                }
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            @if (comment.IsDeleted)
                                            {
                                                <p class="text-muted"><em>This comment has been deleted.</em></p>
                                            }
                                            else
                                            {
                                                <p>@comment.Comment</p>
                                            }
                                            @if (IsReplying && CommentIDBeingReplied == comment.CommentID)
                                            {
                                                <div class="reply-input">
                                                    <MudTextField @bind-Value="NewReplyTxt" Placeholder="Write a reply..." Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="() => SubmitReply(comment.CommentID)" Immediate="true" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (comment.Replies != null && comment.Replies.Any())
                                {
                                    @foreach (var reply in comment.Replies.OrderBy(r => r.DateCreated))
                                    {
                                        <div class="reply-item">
                                            <div class="reply-header">
                                                <div>
                                                    <a href=@($"/users/{reply.Username}")><strong class="username-comment">@reply.Username</strong></a> <span class="text-muted">@reply.DateCreated.ToString("MMMM dd, yyyy")</span>
                                                </div>
                                                <div class="comment-actions">
                                                    <i class="fa fa-reply ms-2" @onclick="() => ToggleReply(reply.CommentID)" title="Reply"></i>
                                                    @if (currentUser != null && reply.UserID == currentUser.Id)
                                                    {
                                                        <i class="fa fa-pen" @onclick="() => OpenEditCommentDialog(reply.CommentID, reply.Comment)"></i>
                                                        <i class="fa-solid fa-trash-can ms-2" @onclick="() => DeleteComment(reply.CommentID)" title="Delete Comment"></i>
                                                    }
                                                </div>
                                            </div>
                                            <div class="reply-body">
                                                @if (reply.IsDeleted)
                                                {
                                                    <p class="text-muted"><em>This comment has been deleted.</em></p>
                                                }
                                                else
                                                {
                                                    <p>@reply.Comment</p>
                                                }
                                                @if (IsReplying && CommentIDBeingReplied == reply.CommentID)
                                                {
                                                    <div class="reply-input">
                                                        <MudTextField @bind-Value="NewReplyTxt" Placeholder="Write a reply..." Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="() => SubmitReply(reply.ParentCommentID ?? reply.CommentID)" Immediate="true" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <p>No comments yet. Be the first to comment!</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <PageTitle>Invalid Recipe</PageTitle>
        <p>Recipe not found...</p>
    }
</div>

@code {
    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; }

    private Recipe Recipe;
    private List<Ingredient> RecipeIngredients = [];
    private List<Instruction> Instructions = [];
    private List<UserCookbook> UserCookbooksList = new();
    private List<RecipeComment> Comments = new();
    private ApplicationUser currentUser;
    private string AuthorUserName;
    private bool IsUserAuthor = false;
    private string IsServingNull = "";
    private bool IsRecipeLiked = false;
    private int LikeCount { get; set; } = 0;
    private int CookbookCount { get; set; } = 0;
    private string NewCommentTxt { get; set; }
    private string NewReplyTxt { get; set; }
    private bool IsReplying { get; set; } = false;
    private int CommentIDBeingReplied { get; set; }

    private bool IsRendered = false;
    private IJSObjectReference? module;

    [Parameter]
    public string RecipeId { get; set; }

    private string recipeURL = "https://cooknet.com/recipes/";
    private string shareURLTwitter = "";
    private string shareURLFacebook = "";
    private string shareEmailURL = "mailto:?subject=Check%20this%20recipe%20out%20on%20CookNet!&body=Hi%20there,%0A%0AI%20found%20this%20great%20recipe%20and%20thought%20you%20might%20like%20it:%20https://example.com%0A%0AEnjoy!";
    private string shareText = "Check this recipe out on CookNet!";

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(RecipeId, out int recipeId))
        {
            Recipe = await RecipeService.GetRecipeByIdAsync(recipeId);

            if (Recipe != null)
            {
                // Fetch the author's username using the Recipe's AuthorID
                var author = await UserManager.FindByIdAsync(Recipe.AuthorID);
                AuthorUserName = author?.UserName ?? "Anonymous";

                // Check if the current user is the author
                currentUser = await UserService.GetUserAsync();
                if (currentUser != null && currentUser.Id == Recipe.AuthorID)
                {
                    IsUserAuthor = true;
                }

                RecipeIngredients = await RecipeService.GetIngredientsByRecipeIdAsync(recipeId);
                Instructions = await RecipeService.GetInstructionsByRecipeIdAsync(recipeId);

                if (Recipe.Servings == null)
                {
                    IsServingNull = "margin-left: 0; margin-right: 85px;";
                }
                if (currentUser != null)
                {
                    IsRecipeLiked = await RecipeService.IsRecipeLikedByUserAsync(recipeId, currentUser.Id);
                    await LoadUserCookbooks();
                }
                LikeCount = await RecipeService.GetLikeCountAsync(recipeId);
                CookbookCount = await RecipeService.GetCookbookSavesCount(recipeId);
                Comments = await RecipeService.GetCommentsByRecipeIdAsync(recipeId);
                shareURLTwitter = $"https://x.com/intent/tweet?url={recipeURL + RecipeId}&text={Uri.EscapeDataString(shareText)}";
                shareURLFacebook = $"https://www.facebook.com/sharer/sharer.php?u={recipeURL + RecipeId}&quote={Uri.EscapeDataString(shareText)}";
                shareEmailURL = $"mailto:?subject=Check%20this%20recipe%20out%20on%20CookNet!&body=Hi%20there,%0A%0AI%20found%20this%20great%20recipe%20and%20thought%20you%20might%20like%20it:%20{recipeURL + RecipeId}%0A%0AEnjoy!";
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsRendered = true;
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task PrintRecipe()
    {
        if (IsRendered)
        {
            await JSRuntime.InvokeVoidAsync("printRecipeCard");
        }
    }

    private async Task LoadUserCookbooks()
    {
        UserCookbooksList = await CookbookService.GetCookbooksByUserIdAsync(currentUser.Id);
        StateHasChanged();
    }

    private async Task OpenCookbookDialogAsync(int recipeId)
    {
        if (currentUser != null)
        {
            var parameters = new DialogParameters
        {
            { "UserCookbooks", UserCookbooksList },
            { "RecipeID", recipeId },
            { "UserID" , currentUser.Id },
            { "RefreshCookbooksCallback", EventCallback.Factory.Create(this, LoadUserCookbooks) }
        };

            var options = new DialogOptions
                {
                    MaxWidth = MaxWidth.Small,
                    FullWidth = true
                };

            var dialog = await DialogService.ShowAsync<AddCookbookDialog>("Add to CookBook", parameters, options);
            var result = await dialog.Result;

            if (result != null && !result.Canceled)
            {
                Snackbar.Add("Recipe added successfully!", Severity.Success);
                CookbookCount = await RecipeService.GetCookbookSavesCount(recipeId);
                StateHasChanged();
            }
        }
        else
        {
            NavigationManager.NavigateTo($"/Account/Login");
        }
    }

    private void EditRecipe(int recipeId)
    {
        NavigationManager.NavigateTo($"/edit-recipe/{recipeId}");
    }

    private async void ToggleLike()
    {
        if (currentUser != null)
        {
            LikeCount = await RecipeService.ToggleLikeAsync(Recipe.ID, !IsRecipeLiked, currentUser.Id);
            IsRecipeLiked = !IsRecipeLiked;
            StateHasChanged();
        }
        else
        {
            NavigationManager.NavigateTo($"/Account/Login");
        }
    }

    private async void AddComment()
    {
        if (currentUser != null)
        {
            if (!string.IsNullOrWhiteSpace(NewCommentTxt))
            {
                var newComment = new RecipeComment
                    {
                        RecipeID = Recipe.ID,
                        UserID = currentUser.Id,
                        Comment = NewCommentTxt,
                        Username = currentUser.UserName,
                        DateCreated = DateTime.UtcNow,
                        DateUpdated = DateTime.UtcNow,
                        IsDeleted = false
                    };

                await RecipeService.AddCommentAsync(newComment);
                Comments.Add(newComment);
                NewCommentTxt = "";
                StateHasChanged();
            }
        }
        else
        {
            NavigationManager.NavigateTo("/Account/Login");
        }
    }

    private async Task OpenEditCommentDialog(int commentId, string existingCommentText)
    {
        var parameters = new DialogParameters
        {
            { "CommentID", commentId },
            { "ExistingCommentText", existingCommentText }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<EditCommentDialog>("Edit Comment", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            // Refresh comments list or handle UI update if needed
            Comments = await RecipeService.GetCommentsByRecipeIdAsync(int.Parse(RecipeId));
            StateHasChanged();
        }
    }

    private void ToggleReply(int commentId)
    {
        var comment = Comments.FirstOrDefault(c => c.CommentID == commentId);
        if (comment != null)
        {
            IsReplying = !IsReplying;
            CommentIDBeingReplied = commentId;
        }
    }

    private async Task SubmitReply(int parentCommentId)
    {
        if (currentUser != null)
        {
            var parentComment = Comments.FirstOrDefault(c => c.CommentID == parentCommentId);
            if (parentComment != null && !string.IsNullOrWhiteSpace(NewReplyTxt))
            {
                var reply = new RecipeComment
                    {
                        RecipeID = Recipe.ID,
                        Comment = NewReplyTxt,
                        UserID = currentUser.Id,
                        Username = currentUser.UserName,
                        DateCreated = DateTime.UtcNow,
                        DateUpdated = DateTime.UtcNow,
                        ParentCommentID = parentCommentId,
                        IsDeleted = false
                    };

                await RecipeService.AddCommentAsync(reply);

                // Clear the reply field and refresh the comments
                NewReplyTxt = string.Empty;
                IsReplying = false;
                Comments = await RecipeService.GetCommentsByRecipeIdAsync(int.Parse(RecipeId));
                StateHasChanged();
            }
        }
        else
        {
            NavigationManager.NavigateTo("/Account/Login");
        }
    }

    private async void DeleteComment(int commentId)
    {
        var confirmed = await DialogService.ShowMessageBox(
            "Delete Comment",
            "Are you sure you want to delete this comment?",
            yesText: "Delete", cancelText: "Cancel");

        if (confirmed ?? false) // Explicit conversion to non-nullable boolean
        {
            bool hasReplies = await RecipeService.HasRepliesAsync(commentId);

            if (hasReplies)
            {
                await RecipeService.MarkCommentAsDeletedAsync(commentId);
                var comment = Comments.First(c => c.CommentID == commentId);
                comment.IsDeleted = true;
            }
            else
            {
                await RecipeService.DeleteCommentAsync(commentId);
                Comments.Remove(Comments.First(c => c.CommentID == commentId));
            }

            StateHasChanged();
        }
    }

    private void ShareToTwitter()
    {
        JSRuntime.InvokeVoidAsync("open", shareURLTwitter, "_blank");
    }

    private void ShareToFacebook()
    {
        JSRuntime.InvokeVoidAsync("open", shareURLFacebook, "_blank");
    }

    private void ShareViaEmail()
    {
        JSRuntime.InvokeVoidAsync("open", shareEmailURL);
    }

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", recipeURL + RecipeId);
        Snackbar.Add("Link copied to clipboard!", Severity.Success);
    }
}
